---
http_interactions:
- request:
    method: get
    uri: http://lda.data.parliament.uk/researchbriefings.json?incorrect-params=this%20is%20a%20test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: " "
    headers:
      Content-Type:
      - text/javascript
      X-Response-Id:
      - '134295'
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<title>bad request</title>\n\n<style> \n\nbody { \n
        \   background-color: pink \n} \n\npre {\n    margin: 1ex\n    ; padding:
        1ex\n    ; background-color: #ffaaaa\n    ; border-radius: 1ex\n    ; font-weight:
        bold\n}\n    \n</style>\n\n    \n\n</head>\n<body>\n<h1>Bad Request</h1>\n\nYour
        request was ill-formed.\n\n<pre>\nunrecognised parameter prefix: incorrect-\n</pre>\n\n</body>\n</html>\n"
  recorded_at: Fri, 09 Feb 2018 13:47:28 GMT
recorded_with: VCR 4.0.0
