---
http_interactions:
- request:
    method: get
    uri: http://lda.data.parliament.uk/constituencies.json?_page=0&_pageSize=500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Location:
      - http://eldaddp.azurewebsites.net/constituencies.json?_pageSize=500&_page=0
      Etag:
      - W/"c181f6b9c7abbb5d"
      X-Response-Id:
      - '129360'
    body:
      encoding: UTF-8
      string: |
        { "format" : "linked-data-api", "version" : "0.2", "result" : {"_about" : "http://eldaddp.azurewebsites.net/constituencies.json?_pageSize=500&_page=0", "definition" : "http://eldaddp.azurewebsites.net/meta/constituencies.json", "extendedMetadataVersion" : "http://eldaddp.azurewebsites.net/constituencies.json?_pageSize=500&_page=0&_metadata=all", "first" : "http://eldaddp.azurewebsites.net/constituencies.json?_page=0", "isPartOf" : {"_about" : "http://eldaddp.azurewebsites.net/constituencies.json", "definition" : "http://eldaddp.azurewebsites.net/meta/constituencies.json", "hasPart" : "http://eldaddp.azurewebsites.net/constituencies.json?_pageSize=500&_page=0", "type" : "http://purl.org/linked-data/api/vocab#ListEndpoint"}
            , "items" : [{"_about" : "http://data.parliament.uk/resources/143461", "constituencyType" : "", "endedDate" : {"_value" : "1950-02-23", "_datatype" : "dateTime"}
              , "gssCode" : "", "label" : {"_value" : "Aberavon"}
              , "osName" : "", "startedDate" : {"_value" : "1918-12-14", "_datatype" : "dateTime"}
            }
            , {"_about" : "http://data.parliament.uk/resources/143462", "constituencyType" : "", "endedDate" : {"_value" : "1974-02-28", "_datatype" : "dateTime"}
              , "gssCode" : "", "label" : {"_value" : "Aberavon"}
              , "osName" : "", "startedDate" : {"_value" : "1950-02-23", "_datatype" : "dateTime"}
            }
            , {"_about" : "http://data.parliament.uk/resources/143463", "constituencyType" [...]
[...]
