---
http_interactions:
- request:
    method: get
    uri: http://lda.data.parliament.uk/resources/143468.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Id:
      - '49807'
      Etag:
      - W/"fe66d69d3da023ee"
      Content-Location:
      - http://lda.data.parliament.uk/resources/143468.json
    body:
      encoding: ASCII-8BIT
      string: |
        { "format" : "linked-data-api", "version" : "0.2", "result" : {"_about" : "http://lda.data.parliament.uk/resources/143468.json", "definition" : "http://lda.data.parliament.uk/meta/resources/_id.json", "extendedMetadataVersion" : "http://lda.data.parliament.uk/resources/143468.json?_metadata=all", "primaryTopic" : {"_about" : "http://data.parliament.uk/resources/143468", "constituencyType" : "Borough", "ddpCreated" : {"_value" : "2014-11-07T19:29:01.853Z", "_datatype" : "dateTime"}
              , "ddpModified" : {"_value" : "2014-11-07T19:29:01.853Z", "_datatype" : "dateTime"}
              , "endedDate" : {"_value" : "2005-05-05", "_datatype" : "dateTime"}
              , "gssCode" : "", "humanIndexable" : {"_value" : "false", "_datatype" : "boolean"}
              , "isPrimaryTopicOf" : "http://lda.data.parliament.uk/resources/143468.json", "label" : {"_value" : "Aberdeen Central"}
              , "osName" : "Aberdeen Central Burgh Const", "prefLabel" : {"_value" : "Aberdeen Central"}
              , "previousConstituency" : "1997-570", "published" : {"_value" : "true", "_datatype" : "boolean"}
              , "sameAs" : ["http://statistics.data.gov.uk/id/statistical-geography/"], "startedDate" : {"_value" : "1997-05-01", "_datatype" : "dateTime"}
              , "type" : "http://data.ordnancesurvey.co.uk/ontology/admingeo/WestminsterConstituency"}
            , "type" : ["http://purl.org/linked-data/api/vocab#ItemEndpoint", "http://purl.org/linked-data/api/vocab#Page"]}
        }
  recorded_at: Tue, 23 Jan 2018 14:34:05 GMT
recorded_with: VCR 4.0.0
